@{
    ViewBag.Title = "KotAtGent-About";
}
@section scripts{
    <style type="text/css">
        #navAbout {
            color: #7AC0DA;
        }
    </style>
}


    <h1>@ViewBag.Title.</h1>


<article>
    <p>2013- 3ICT - Webprogrammatie: Project2</p>
    <p>Nan Cao</p>
</article>
